In [ ]:
https://www.w3schools.com/python/python_for_loops.asp
https://www.w3schools.com/python/python_while_loops.asp
https://github.com/DONTSAYCANT/python_may_june_batch/blob/main/Loops%20.ipynb

# For loop

In [ ]:
#Why loop ?
#range function
#when for loop

In [ ]:
#Run same code repeatedly for while

In [1]:
#need for loop  No

a = 10
b = 20

print(a+b)

30

In [2]:
#Loop ? 

a = [1,2,3,4,5]
b = [9,8,7,6,5]

print(a+b)

[1, 2, 3, 4, 5, 9, 8, 7, 6, 5]

In [4]:
for i in range(6):
    print("hello ")

hello
hello
hello
hello
hello
hello

In [1]:
print("hello ")
print("hello ")
print("hello ")
print("hello ")
print("hello ")

hello
hello
hello
hello
hello

In [9]:
a = [10,9,7,6,4,3,1]

for temp in a: #for keyword #i temp variable iterating variable #a collection or data strucuture
    print(temp)
    
tup = (3,4,5,6)

for i in tup:
    print(i)
    
set1 = {10,4,5,6,3}

for i in set1:
    print(i)
    
for <temp variable> in <data strucutre>:
    print(temp variable)

10
9
7
6
4
3
1
3
4
5
6
3
4
5
6
10

In [ ]:
{1:10,2:20,3:30,4:50}
1. add all keys
2. add all values
3. multiple key and value and add it (1*10) + (2*20) + (3*30) + (4*50)

In [8]:
temp = 0

List1 = [1,2,4,5,10]

for val in List1:
    temp = temp + val
print(temp)

22

In [9]:
temp = 0

Dict1 = {1:10,2:20,3:30,4:50}

for val in Dict1:
    temp = temp + val
print(temp)

10

In [10]:
temp = 0

Dict1 = {1:10,2:20,3:30,4:50}

for val in Dict1.values():
    temp = temp + val
print(temp)

110

In [11]:
temp = 0

Dict1 = {1:10,2:20,3:30,4:50}

for val in Dict1:
    temp = temp + Dict1[val]
print(temp)

110

In [18]:
temp = 0

Dict1 = {1:10,2:20,3:30,4:50}

for val in Dict1:
    print(val)
    print(Dict1[val])
    temp = temp + (val * Dict1[val])
    print(temp)
    print("End")
print(temp)

1
10
10
End
2
20
50
End
3
30
140
End
4
50
340
End
340

In [13]:
dict1 = {1:"gokul", 2:"python",3:"mani",4:"ravi"}

for i in dict1:
    print(i)
    
for i in dict1.keys():
    print(i)
    
for i in dict1.values():
    print(i)
    
for i in dict1:
    print(dict1[i])

1
2
3
4
1
2
3
4
gokul
python
mani
ravi
gokul
python
mani
ravi

In [ ]:
[1,2,4,5,10]

4. for loop use add elements ===> 22

In [14]:
dict1 = {1:"gokul", 2:"python",3:"mani",4:"ravi"}

print(dict1[4])

ravi

In [23]:
#range:
:5

print(list(range(5)))
print(list(range(1,5)))
print(list(range(5,20)))
print(list(range(-5,5)))
print(list(range(10,100,10)))
print(list(range(10,0,-1)))
print(list(range(-5,5,3)))
print(list(range(10,100,5)))
print(list(range(10,0,-2)))

#Using Range function  print multiples of 5 from 0 to 75
#Using Range function  print multiples of 8 from 0 to 72

#Using Range function  print multiples of 5 from 75 to 0
#Using Range function  print multiples of 8 from 96 to 72

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]
[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[-5, -2, 1, 4]
[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
[10, 8, 6, 4, 2]

In [ ]:
1) get a string from user
2) print "hello" n times where n is length of the string

In [23]:

#Using Range function  print multiples of 5 from 0 to 75

#10 to 75 multiples of 8

print(list(range(0,75,5)))
print(list(range(10,75,8)))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]
[10, 18, 26, 34, 42, 50, 58, 66, 74]

In [5]:
List1 = [2,5,6,8,12,13]
temp = 0

for i in range(len(List1)):
    temp = temp + (i * List1[i])
print(temp)

154

In [12]:
Li1 = [11,12,3,4,5,6,7,8,10,34]

even = []
odd = []

for i in Li1:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
print(odd)
print(even)

[12, 4, 6, 8, 10, 34]
[11, 3, 5, 7]

In [ ]:
#Both are same

for i in Li1:
    print(i)

for i in range(len(Li1)):
    print(Li1[i])

# While loop

In [14]:
a = 10
Li1 = []

while a < 20:
    a = a + 1
    Li1.append(a)
print(Li1)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]